.apresentacao {
  justify-content: center;
}
.apresentacao__conteudo {
  display: flex;
  flex-direction: column;
  min-height: 100vw;
  align-items: center;
}

.apresentacao__conteudo__titulo {
  align-items: center;
  width: 250px;
  font-size: 25px;
  margin: 0.5em 0;
  padding-left: 50px;
  font-family: var(--font-titulo);
  font-size: 200;
  color: var(--cor-texto-verde);
  font-weight: 900;
}

.apresentacao__conteudo__texto {
  padding: 1em;
  align-items: center;
  text-align: center;
  color: var(--cor-texto-verde);
  font-weight: 600;
}

.apresentacao__image {
  width: 250px;
  height: auto;
  border-radius: 25px;
}

.apresentacao__box {
  display: flex;
}
.apresentacao__box__lista {
  display: flex;
  border: 3px solid #2c4a3e;
  border-radius: 25px;
  margin: 2em 1em;
  padding: 10px;
  background-color: var( --cor-fundo-botão)
}
.apresentacao__box__link {
  display: flex;
  text-decoration: none;
  color: var(--preto);
  text-align: center;
  gap: 10px;
  font-size: 18px;
}
.apresentacao__box__image {
  color: #2c4a3e;
}
.apresentacao_box_text {
  font-weight: 600;
  color: #2c4a3e;
}
hr {
  border: none;
  height: 1px;
  background-color: var(--cor-titulo);
}

.swiper {
  width: 100%; /* O carrossel vai ocupar toda a largura do container */
  height: auto;
}

.swiper-slide {
  text-align: center; /* Centraliza o conteúdo horizontalmente */
  font-size: 18px; /* Tamanho da fonte (caso tenha texto) */
  display: flex; /* Usando flexbox */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}

.swiper-slide img {
  width: auto; /* largura automática */
  max-width: 100%; /* nunca ultrapassar o tamanho do slide */
  height: 250px; /* altura fixa para os slides */
  object-fit: cover; /* cobre o espaço sem distorcer */
  border-radius: 10px; /* bordas arredondadas (opcional, para ficar bonito) */
}
.swiper-button-prev,
.swiper-button-next {
  display: none;
}

.swiper-pagination {
  position: initial;
  margin: 0.5em 0;
}
/* .blackgrand-carrosel {
  padding: 30px;

  background-color: var(--cor-fundo-carrosel);
  border-radius: 25%;
} */
