.sobre__conteudo {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.sobre__titulo {
  margin: 1em;
  font-size: 30px;
  font-family: var(--font-titulo);
  color: var(--cor-texto-verde);
  font-weight: 600;
}
.sobre__texto {
  color: var(--cor-texto-verde);
  font-weight: 600;
}
.sobre__image {
  width: 100px;
  border-radius: 50%;
  text-align: center;
  padding: 2em;
  margin: auto;
}
